@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

}
.navContainer{
    display: flex;
    padding: 10px;
    height: 70px;
    background-color: #42e29dff;
    border-bottom: 1px black;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
   
}
.navContainer img{
    margin: 15px 10px;
    height: 70px;

}

.box{
    width: 600px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.60);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin:0px 35px ;
}
.navContainer input{
    height:35px;
    width: 450px;
    margin: 20px 35px;
    background-color: transparent;
    border: none;
    border-radius: 15px;

}

.searchBtn{
    padding: 10px;
}

.btn{
   color: white;
   padding: 10px;
}

.btnContainer{
    display: flex;
    justify-content: right;
    margin: 0 auto;
}

.Link {
    padding: 35px;
    text-decoration:#6c42aeff;
    text-decoration: none;
    font-weight:bolder;
}