/* .color{
background: #42e29dff;
background-color: #ff4800ff;
background-color: #fec758ff;
background-color: #6c42aeff;
background-color: white;
background-color: #1e1e1eff;
} */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,700;1,800&display=swap');
        *{
            font-family: 'Open Sans', sans-serif;
        }
        
.SignupContainer{
    display: inline-flexbox;
    height: 600px;
    width: 450px;
    flex-wrap: wrap;
    background-color: #6c42aeff;
}

input{
    width:350px;
    display: flex;
    margin: 15px 35px;
    color: rgb(107, 107, 107);
    height: 50px;
}


button{
    margin: 15px 250px;
    width: 150px;
    height: 35px;
    background-color:rgb(64, 39, 104) ;
    border: none;
    color: white;
    border-radius: 3px;
}

button:hover {
    margin: 15px 250px;
    width: 150px;
    height: 35px;
    background-color:rgb(35, 21, 56) ;
    border: none;
    color: white;
    border-radius: 3px;
    transition: ease-in-out ;
    transition-duration: 0.5s;
}

h2{
    color: white;
    padding: 0 35px;
    padding-top: 18px;
}

h3{
    color: white;
    font-size: 14px;
    padding: 5px 35px;
}
