.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.circle {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 4px double #ccc;
  font-size: 20px;
  color: #666;
  line-height: 100px;
  text-align: center;
  text-justify: auto;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  background: #ddd;
  margin: 35px 100px;
}

.circle:hover {
  border: 4px double #bbb;
  color: #aaa;
  text-decoration: none;
  background: #e6e6e6;
  animation-delay: -2s;
}

.circle p {
  text-align: center;
  margin-top: 20px;
}
