@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');

* {
  font-family: 'Baloo Tamma 2', cursive;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

.App {
  background-color: #71f787;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  font-style: italic;
  color: #c00a0a;
  text-shadow: 0 0.2rem 5rem rgb(236, 150, 70);
  text-transform: uppercase;
  margin: 4rem 0;
}

.search-form {
  width: 60rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4bb06;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  box-shadow: 1rem 2rem 5rem rgb(236, 189, 100);
  position: relative;
}

.notfound {
  position: absolute;
  top: -3rem;
  left: 0;
  background-color: rgb(245, 13, 13);
  width: calc(100% - 0.4rem);
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.notfound h3 {
  font-size: 1.8rem;
  color: rgb(174, 231, 241);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.1rem solid rgb(243, 223, 180);
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 3rem;
}

.search-form input[type="text"] {
  padding: 0 0.5rem;
  width: 60%;
  color: rgb(116, 112, 63);
}

.search-form input[type="submit"] {
  width: 25%;
  text-transform: uppercase;
  background-color: #287a74;
  color: #fff;
}

.chefCd {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {
  width: 30rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #df8d0a;
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 2rem 3rem 5rem rgb(236, 235, 135);
}

.recipe h2 {
  background-color: rgba(166, 240, 230, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0 0.5rem 0.5rem rgb(211, 153, 126);
  color: rgb(80, 73, 34);
}

.recipe img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.recipe a {
  font-size: 1.8rem;
  color: #dd0315;
}

.recipe button {
  font-size: 2rem;
  text-transform: uppercase;
  color: rgb(194, 212, 219);
  background-color: #2e8f7f;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.btn button{
  font-size: 2rem;
  padding: 1rem 2rem;
  align-items: center;
  margin-top: 1rem;
  text-transform: uppercase;
  color: #e7d997;
  background-color: #522203;
  border: 3px sold gray;
  border-radius: 0.5rem;
  height: 4rem;
  width: 20rem;
}

.ing-list {
  margin-top: 1rem;
  background-color: #f3c034;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ing-list li {
  margin: 0.5rem 0;
}

.ing-text {
  font-size: 1.5rem;
  color: rgb(244, 245, 233);
}

.ing-weight {
  color: #065037;
  font-size: 1.3rem;
}

.pay h3,h4{
align-items: center;
color: rgb(52, 120, 129);
font-size: medium;

}