@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');

* {
  font-family: 'Baloo Tamma 2', cursive;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

.App {
  align-items: baseline;
  justify-content: none;

}

.chefCd {
  background-color: #f2f6f6;
  display: inline-flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  
}



.chefCd h1 {
  width: 100%;
  justify-content: flex-start;
  color: #532369;
  text-shadow: 0 0.2rem .05rem rgb(214, 195, 230) rgba(64, 82, 180, 0.616);
}

.chefCd h3 {
  width: 100%;
  justify-content: flex-start;
  color: #532369;;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  font-style: italic;
  color: #cbdada;
  text-shadow: 0 0.2rem 5rem rgb(107, 151, 161);
  text-transform: uppercase;
  margin: 4rem 0;
}

h3 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-style: italic;
  color: #0cb1b1;
  text-shadow: 0 0.2rem 5rem rgb(217, 221, 221);
  text-transform: uppercase;
  margin: .5rem 0;
}


.notfound {
  position: absolute;
  top: -3rem;
  left: 0;
  background-color: rgb(39, 89, 102);
  width: calc(100% - 0.4rem);
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.notfound h3 {
  font-size: 1.8rem;
  color: rgb(174, 231, 241);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.1rem solid rgb(243, 223, 180);
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 3rem;
}

.search-form input[type="text"] {
  padding: 0 0.5rem;
  width: 60%;
  color: rgb(116, 112, 63);
}

.search-form input[type="submit"] {
  width: 25%;
  text-transform: uppercase;
  background-color: #287a74;
  color: #fff;
}



.chefCard {
  width: 30rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0cb1b1;
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 2rem 3rem 2rem rgb(177, 180, 180);
}

.chefCard h2 {
  background-color: rgba(213, 223, 221, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0 0.2rem 0.2rem rgb(181, 190, 190);
  color: rgb(1, 44, 46);
}

.chefCard img {
  width: 30rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.chefCard p {
  font-size: 1.8rem;
  color: #e3e9ee;
}

.chefCard button {
  font-size: 2rem;
  text-transform: uppercase;
  color: rgb(194, 212, 219);
  background-color: #2e898f;
  border: .20rem solid rgb(220, 225, 226);
  border-radius: 0.5rem;
  display: inline flex;
  padding: 1rem 1rem 1rem 1rem;
  height: 5rem;
  margin: 1rem;
  text-align: center;
  

}

.BstCd .btn button{
  font-size: 2rem;
  padding: 1rem ;
  justify-content:space-evenly;
  margin-top: 1rem;
  text-transform: uppercase;
  color: #d8d5c7;
  background-color: #532369;
  border: 5px sold rgb(75, 83, 85);
  border-radius: 0.5rem;
  height: 5rem;
  width: 10rem;
}

.BstDl {
  background-color: #0cb1b1;
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  
}
.BstDl h1 {
  width: 100%;
  justify-content: flex-start;
  
}

.BstCd {
  width: 30rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e2e3e4;
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
 /*  box-shadow: 2rem 2rem 2rem rgb(196, 196, 191); */
}

.BstCd h2 {
  width: 20%;
  background-color: rgba(247, 187, 99, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2rem;
  font-weight: 400;
  color: rgb(27, 56, 61);
}

.BstCd img {
  width: 30rem;
  
  border-radius: 50%;
  object-fit: cover;
}

.BstCd p {
  font-size: 1.8rem;
  color: #885406;
}

.BstCd button {
  font-size: 2rem;
  text-transform: uppercase;
  color: rgb(194, 212, 219);
  background-color: #257466;
  border: .20rem solid;
  border-radius: 0.5rem;
  display: inline flex;
  padding: 1rem 1rem 1rem 1rem;
  height: 5rem;
  margin: 1rem;
  text-align: center;
  

}


.ing-list {
  margin-top: 1rem;
  background-color: #f3c034;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ing-list li {
  margin: 0.5rem 0;
}

.ing-text {
  font-size: 1.5rem;
  color: rgb(244, 245, 233);
}

.ing-weight {
  color: #065037;
  font-size: 1.3rem;
}

.pay h3,h4{
align-items: center;
color: rgb(52, 120, 129);
font-size: medium;

}