.gridContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: start;
    align-content: space-around;
    align-items: start;
    /* grid-gap: 20px */
    margin-top: 15%;
}

.gridProfilePic {
    grid-column: 1/3;
    padding: 25px;
}

.gridAboutMe{
    padding: 25px;
}

.gridSkills {
    padding: 25px;
}

.gridStatistics{
    padding: 25px;
}

