/* .color{
background: #42e29dff;
background-color: #ff4800ff;
background-color: #fec758ff;
background-color: #6c42aeff;
background-color: white;
background-color: #1e1e1eff;
} */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,700;1,800&display=swap');
        *{
            font-family: 'Open Sans', sans-serif;
        }
 .signUpContainer{
     display:flexbox;
     width: 100%;
     background-color:#6c42aeff ;
 }

 .inputContainer{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }

 .input{
     background-color: #6c42aeff;
     border: none;
     border-bottom: 3px solid rgb(60, 37, 97);
     display: inline-block;
     padding: 1rem 2rem;
     width: 100%;
    
 }

 .input:hover{
    background-color: #6c42aeff;
    border: none;
    border-bottom: 5px solid rgb(60, 37, 97);
    display: inline-block;
    padding: 1rem 2rem;
    transition: 1ms ease-in-out;
   
}

.checkmark{
    margin:  10px;
}

.button{
    margin: 10px;
    float: right;
 }

 .headerText{
     color: white;
     padding: 10px;
     font-size: 30px;
 }

 .para{
     color:white ;
     padding: 10px;
 }

 @media only screen and (max-width: 600px) {
    .signUpContainer{
        display:flexbox;
        width: 100%;
        background-color:#6c42aeff ;
    }
   
    .inputContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
   
    .input{
        background-color: #6c42aeff;
        border: none;
        border-bottom: 2px solid rgb(60, 37, 97);
        display: inline-block;
        padding: 1rem 2rem;
        width: 100%;
       
    }
   
    .input:hover{
       background-color: #6c42aeff;
       border: none;
       border-bottom: 5px solid rgb(60, 37, 97);
       display: inline-block;
       padding: 1rem 2rem;
       transition: 1ms ease-in-out;
      
   }
   
   .checkmark{
       margin:  10px;
   }
   
   
    .headerText{
        color: white;
        padding: 10px;
        font-size: 15px;
    }
   
    .para{
        color:white ;
        padding: 5px;
        font-size: 10px;
    }

 } 

 .buttonContainer{
     display: flex;
     justify-content: end;
 }
 .submit{
     display: flex;
     padding: 10px;
     margin: 10px;
     width: 10%;
     background-color:#fec758ff ;
     border: ridge;
     cursor: pointer;
     transition: 1ms ease-in-out;
    transform: ;
 }

 .submit :hover{
    display: flex;
    padding: 10px;
    margin: 10px;
    width: 10%;
    background-color:#ff4800ff ;
    border: ridge;
    cursor: pointer;
}