.gridContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.profilePic {
    border: 4px solid #6c42aeff;
    border-radius: 50% 50%;
    width: 250px;
    height: 250px;
    margin: 4px;
}

.gridOrderHistory{
     padding: 25px;
    border: 4px solid #6c42aeff;
    border-radius: 10%;
    margin: 5px;
}

.name{
    padding: 4px;
}

.mail{
    padding: 4px;
}

.phone{
    padding: 4px;
}

.city{
    padding: 4px;
}

.orderHistory{
    color: black;
}